# SMTP Email configuration to send Emails to Real addresses
SMTP_HOST=your-smtp.provider.com
SMTP_PORT=587
SMTP_USER=your_smtp_email@example.com
SMTP_PASS=your_smtp_password
SMTP_SECURE=false

# People who will receive the alerts when "Send Alerts" is pressed
ADMIN_EMAIL_RECIPIENTS=alwin@xerago.com
